<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343221001297-u5414opudklk0nfm8vjt84fjtj095s2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343221001297-u5414opudklk0nfm8vjt84fjtj095s2m</string>
	<key>API_KEY</key>
	<string>AIzaSyDVzBrAU1QkfTQWNcQO8jfq73NNjQl7ZB0</string>
	<key>GCM_SENDER_ID</key>
	<string>343221001297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-843a2</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-843a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343221001297:ios:5ae0ba312b7689923f6c70</string>
</dict>
</plist>